*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 0.1px solid; */
}

:root {
	--whitesmoke: rgb(243, 245, 245);
	--darkwhitesmoke: rgb(234, 235, 236);
	--lightgray: rgb(216, 216, 216);
	--darkgray: rgb(161, 161, 161);
	--gray: rgb(121, 121, 121);
	--dimgray: rgb(74, 74, 74);
	--blue: rgb(74, 144, 226);
	--darkblue: rgb(45, 83, 129);
}

body {
	font-family: Poppins;
	color: var(--gray);
}

h1 {
	font-size: 3rem;
	color: var(--dimgray);
}

h2 {
	font-size: 2.5rem;
	color: var(--dimgray);
}

h3 {
	font-size: 1.5rem;
	color: var(--dimgray);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	object-fit: cover;
}

@media (min-width: 501px) {
	.desktop {
		visibility: visible;
	}
	.mobile {
		display: none;
	}
}
@media (max-width: 500px) {
	.desktop {
		display: none;
	}
	.mobile {
		visibility: visible;
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
	padding: 0px 24px;

	.logo {
		display: flex;
		align-items: center;
		height: 32px;

		.logo-img {
			display: flex;
			align-items: center;
		}

		.logo-text {
			letter-spacing: 1px;
			color: var(--dimgray);

			&.text1 {
				font-weight: bold;
			}
			&.text2 {
				color: var(--darkgray);
			}
		}
	}

	.nav-bar {
		display: flex;
		a {
			color: var(--dimgray);
			padding: 21px 8px;

			&:hover {
				color: black;
				background-color: var(--darkwhitesmoke);
				transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
			}
		}
	}

	@media (max-width: 500px) {
		padding: 0px;

		.logo,
		.desktop-nav {
			display: none;
		}

		.mobile-nav {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;

			.icon {
				display: flex;
				align-items: center;
				width: 32px;
			}
		}
	}
}

.hero {
	display: flex;
	padding: 32px 24px;
	background-color: var(--lightgray);

	.hero-first {
		width: 60%;
	}

	.hero-second {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 24px;
		width: 40%;
		padding: 0px 24px;
		font-weight: bold;

		p {
			font-size: 20px;
			color: var(--dimgray);
		}

		.button {
			padding: 8px;
			background-color: var(--dimgray);
			color: white;
			border: 0px;
			text-align: center;
			font-weight: normal;

			&:hover {
				background-color: var(--darkgray);
				transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
			}
		}
	}

	@media (max-width: 800px) {
		flex-direction: column;
		padding: 0px;

		.hero-first {
			width: 100%;
			padding: 0px;
		}

		.hero-second {
			width: 100%;
			padding: 32px 16px;
			gap: 0px;

			p {
				padding: 32px 0px 24px;
			}
		}
	}
}

.information {
	display: flex;
	background-color: var(--whitesmoke);

	.info-main {
		display: flex;
		flex-direction: column;
		width: 60%;
		padding: 32px 24px;
		gap: 24px;

		picture {
			margin-bottom: 8px;
		}
	}

	.info-side {
		display: flex;
		flex-direction: column;
		width: 40%;
		border-left: 1px solid var(--lightgray);

		article {
			display: flex;

			border: 1px solid var(--lightgray);
			padding: 16px;

			&#info-article1 {
				padding-top: 32px;
				border-top: none;
			}

			picture {
				width: 35%;
				padding-right: 16px;
			}

			.info-side-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 8px;
				width: 65%;

				a {
					color: var(--blue);

					&:hover {
						color: var(--darkblue);
						transition: all 0.3s ease;
						-webkit-transition: all 0.3s ease;
						-moz-transition: all 0.3s ease;
						-ms-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
					}
				}
			}

			&:hover {
				background-color: var(--lightgray);
				transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
			}
		}
	}

	@media (max-width: 800px) {
		flex-direction: column;

		.info-main {
			width: 100%;
		}

		.info-side {
			width: 100%;
			border: none;

			article {
				border: none;

				&#info-article1 {
					padding-top: 16px;
				}

				picture {
					width: 50%;
				}
				.info-side-content {
					width: 50%;
					padding: 16px;
					justify-content: flex-start;
				}
			}
		}
	}

	@media (max-width: 500px) {
		flex-direction: column;

		.info-main {
			display: none;
		}

		.info-side {
			width: 100%;
			border-bottom: 1px solid var(--lightgray);

			article {
				flex-direction: column;
				padding: 16px 16px 32px;
				border: none;

				picture {
					padding: 0px;
					width: 100%;
				}

				.info-side-content {
					width: 100%;
					padding: 16px;
				}
			}
		}
	}
}

.course {
	display: flex;
	flex-direction: column;
	background-color: var(--darkwhitesmoke);

	.section-head {
		text-align: center;
		padding: 32px;
	}

	.course-all {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		padding: 0px 72px 32px;

		article {
			width: calc((100% - 64px) / 3);
			background-color: white;

			&:hover {
				box-shadow: 0px 0px 10px 1px var(--gray);
				transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
			}

			.course-content {
				display: flex;
				flex-direction: column;
				gap: 8px;
				padding: 16px 16px 24px;
			}
		}
	}

	@media (max-width: 800px) {
		.course-all {
			flex-direction: column;
			padding: 0px 32px 32px;

			article {
				display: flex;
				flex-direction: row;
				width: 100%;

				picture,
				.course-content {
					width: 50%;
				}

				img {
					height: 100%;
				}
			}
		}
	}

	@media (max-width: 500px) {
		background-color: var(--whitesmoke);

		.section-head {
			padding: 32px 0px 16px;
		}

		.course-all {
			gap: 8px;
			padding: 0px 16px 32px;
			border-bottom: 1px solid var(--lightgray);

			article {
				background-color: var(--lightgray);

				&:hover {
					box-shadow: 0px 0px 10px 1px var(--gray);
					transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-ms-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
				}
				.course-content {
					width: 100%;
				}

				picture,
				p {
					display: none;
				}
			}
		}
	}
}

.thesis {
	display: flex;
	flex-direction: column;
	background-color: var(--whitesmoke);

	.section-head {
		text-align: center;
		padding: 32px;
	}

	.thesis-all {
		display: flex;

		.thesis-main {
			display: flex;
			flex-direction: column;
			width: 60%;
			padding: 0px 24px 32px;

			h3 {
				padding: 24px 0px 8px;
			}
		}

		.thesis-side {
			display: flex;
			flex-direction: column;
			width: 40%;

			article {
				display: flex;
				padding: 16px;

				&:hover {
					background-color: var(--lightgray);
					transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-ms-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
				}

				picture {
					width: 35%;
					padding-right: 16px;
				}

				.thesis-side-content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 65%;
				}
			}
		}
	}

	@media (max-width: 800px) {
		.thesis-all {
			flex-direction: column;

			.thesis-main {
				width: 100%;
			}

			.thesis-side {
				width: 100%;

				article {
					picture {
						width: 50%;
					}
					.thesis-side-content {
						width: 50%;
						display: flex;
						justify-content: flex-start;
						padding: 16px;
					}
				}
			}
		}
	}

	@media (max-width: 500px) {
		.section-head {
			padding: 32px 0px 16px;
		}
		.thesis-all {
			.thesis-main {
				width: 100%;
				padding: 0px 0px 24px;

				h3,
				p {
					display: none;
				}
			}
			.thesis-side {
				display: none;
			}
		}
	}
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 16px 24px;
	background-color: var(--whitesmoke);
	border-top: 1px solid var(--lightgray);

	div {
		display: flex;
		gap: 16px;

		a {
			color: var(--gray);

			&:hover {
				color: var(--dimgray);
			}
		}
	}

	@media (max-width: 500px) {
		padding: 16px;
		border: none;

		div {
			display: none;
		}
	}
}
